.fon {
    background-color: #f08080;
}

.par {
    background-color: #f0f8ff;
    color: #996666;
}

.nepar {
    background-color: #996666;
    color: #f0f8ff;
}

/* Design of border coordinates */

.bPar {
    color: #996666;
    font-size: 20px;
    font-weight: bold;
}

.bNepar {
    color: #f0f8ff;
    font-size: 20px;
    font-weight: bold;
}

.leftside {
    margin-bottom: -805px;
}

.leftside div {
    padding-left: 5px;
    padding-bottom: 70px;
}

.bottom span {
    margin-right: 10px;
    margin-left: 75px;
}

.bottom {
    margin-top: -30px;
    z-index: 20;
}

/* End of border coordinates design */


td {
    width: 100px;
    height: 100px;
    color: #4d2525;
}

img {
    height: 90px;
    margin: auto;
}