.fon {
    background-color: #a08989;
}

.par {
    background-color: #f0f8ff;
    color: #996666;
    font-size: 20px;
    font-weight: bold;
}

.nepar {
    background-color: #996666;
    color: #f0f8ff;
    font-size: 20px;
    font-weight: bold;
}

/* Design of border coordinates */

.bPar {
    color: #996666;
}

.bNepar {
    color: #f0f8ff;
}

.leftside {
    margin-bottom: -805px;
}

.leftside div {
    padding-left: 5px;
    padding-bottom: 70px;
}

.bottom span {
    margin-right: 10px;
    margin-left: 75px;
}

.bottom {
    margin-top: -30px;
    z-index: 20;
}

/* End of border coordinates design */

/* Register form style */

.registerForm {
    border: 0 solid;
    border-radius: 2%;
    height: 700px;
    width: 300px;
    background-color: #996666;
    color: #f0f8ff;
    padding: 25px;
    margin-top: 15em;
    margin-left: 8em;
}

/* End of register form style */

td {
    position: relative;
    width: 100px;
    height: 100px;
    color: #4d2525;
}

td div {
    position: absolute;
    top: 0;
    left: 0;
}

td span {
    position: absolute;
    bottom: 0;
    right: 0;
}

img {
    height: 90px;
    margin: auto;
}

button {
    margin-left: 5em;
}